# Core data & ML libs
numpy>=1.23,<2.0
pandas>=1.5
scikit-learn>=1.6

# Visualization
matplotlib>=3.5
seaborn>=0.13

# Notebook execution
nbconvert>=7.0
jupyterlab>=3.0

# Model explainability
shap>=0.47

# App & utilities
streamlit>=1.0
joblib>=1.0
ipywidgets>=7.7

pytest
pytest-cov
coveralls
coverage-badge
ipykernel

